
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/defz7xcxw/image/upload/v1662118942/CampingGear-2020-GettyImages-sb10070057l-001_mytqdy.jpg");

    font-family: 'Allerta Stencil';
    color: #233142;
}
span{
    right:200px;
}
.hints{
    width: max-content;
    text-align: center;
}
.hint{
    cursor: pointer;
    transition: 0.5s;
}
.hint:hover{
    text-shadow: 0px 0px 14px #FFFB5D;
}
.hint-used{
    transition: 0.2s;
    filter: grayscale(100%);
}

.header{
    background-color: #233142;
    color: #e3e3e3;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
    font-size: 22px;
}
.info{
    width: fit-content;
    margin:10px 40px;
}

footer{
    position: fixed;
    width: fit-content;
    border-top-right-radius:3px ;
    border-top-left-radius:3px ;
    padding: 20px;
    background-color: #233142;
    color: #e3e3e3;
    bottom: 0;

}
.mine{
    background-color: #f95959;
}

.mine-victory{
    background-color: #a2c11c;
}

.unclicked{
    cursor: pointer;
    background-color: #233142;
    border: 1px solid;
}

.unclicked:hover{
background-color: #9fd3c7;
}

.unclicked:active{
    background-color: #bbe4e9;
}


/* for text */
.hidden{
    opacity: 0;
}


.expanded{
    background-color: #e3e3e3;
}


table, td {
    user-select: none;
    transition: 0.2;
    border: 1px solid;
    margin:auto;
    top: 500px;
    text-align: center;
}
td{
    height: 1.4em;
    width: 1.2em;
}

.menu{
    color: #e3e3e3;
    margin-top: 50px;
}


#timer{
    align-self: center;
}
#smiley{
    cursor: pointer;
}
.safeclick{
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.planted{
    color:#e3e3e3;
    transition: 0.5s;
}